@media (min-width: 1384px) {

  .searchInput {
    width: 700px;
  }

}

@media (min-width: 1000px) and (max-width: 1384px) {

  .searchInput {
    width: 500px;
  }

}

@media (min-width: 769px) and (max-width: 1000px) {

  .searchInput {
    width: 300px;
  }

}

